*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #DBDBD4;
}
header{
  width:100vw;
  height: 30px;
  background: #009688;
  color:white;
  top: 0;
  position: sticky;
  line-height: 30px;
}

nav{
  width: 100%;
  height: 65px;
}


/* PARTE SINISTRA DELLA BARRA */
#profilo>img{
  height: 100%;
  border-radius: 50%;
  margin-left: 5%;
  cursor: pointer;
}
#profilo{
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  float:left;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#profilo #icons-menu{
  display: flex;
  justify-content: space-around;
  width: 35%;
  font-size: 25px;
  color: #727A7E;
  margin-right: 5%;
  cursor: pointer;
  padding-top: 20px;
}
/* PARTE DESTRA DELLA BARRA */
#friends #left-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor:pointer;
}
#friends{
  width: 70%;
  height: 100%;
  border-right: 1px solid lightgrey;
  float:right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:15px;

}
#friends>img{
  height: 90%;
  border-radius:50%;
  float:left;
}
.search-menu{
  width: 100%;
  height: 100%;
  border:5px solid #FBFBFB;
  display: flex;
}

.left-container{
  width: 30%;
  min-height: 900px;
  background-color: white;
  float: left;
}

.left-container .contact{
  width: 100%;
  height:75px;
  border-radius: 5px;
  float:left;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: flex-start;
}
.left-container .contact:hover{
  background: lightgrey;
}
.contact-img{
  width: 20%;
  height: 100%;
  float: left;

}
.contact-img>img{
  height: 100%;
  border-radius:50%;

}

.left-container .contact .info-container{
  width: 79%;
  height: 100%;
  float: right;

}
.msg-container{
  display:none;
  position: absolute;
  right:-0.1px;
  top:95px;
  background:red;
  float: right;
  width: 70%;
  min-height: 900px;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-size: cover;
}
.msg-container .greentext .dropdown2{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 10px solid white;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 10;
}
 .dropdown2{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 10px solid #DCF8C6;
  position: absolute;
  display: none;
  top: 0;
  right: 8px;
}
.dropdown{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid lightgrey;
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
}
.msg-container .greentext .dropdown{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid lightgrey;
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}
.colorWhite{
  background-color: white;
}
.colorGreen{
  background-color: #DCF8C6;
}
.dropdown .menu{
  display: none;
  position: absolute;
  top: 0;
  right: -5px;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid black;
}
.menu .elimina{
  text-decoration: none;
  color: black;
}




.right-container{
  width:70%;
  min-height: 900px;
  background-image: url(image/wbg.png);
  background-size: cover;
  float: left;
}
#leftinput{
  width:90%;
  height:40px;
  margin-left:-1px;
  outline: none;
  border: none;


}
.btn{
  width:10%;
  height: 40px;
  margin-right:-1px;
  background: white;
  padding-top: 0;
  outline: none;
  border: none;
}
.btn:hover{
  background-color: grey;
}


.writer{
  display: flex;
  position: fixed;
  width: 100%;
  bottom:0;
  border: 5px solid #FBFBFB;


}
.msgwriter{
  width:50%;
  padding-top: 0;
  outline: none;
  border: none;

}
 .greentext{
  min-width:20px;
  min-height:30px;
  float:right;
  padding-top:10px;
  margin-right: 50px;
  padding-left:10px;
  padding-right:15px
  border:1px solid #DCF8C6;
  border-radius: 5px;
  background-color: #DCF8C6;
  color: black;
  position:relative;

}
 .whitetext{
  padding-top:0;
  min-width:50px;
  min-height: 20px;
  margin-left: 50px;
  padding-right:15px;
  float:left;
  border:1px solid white;
  border-radius: 5px;
  background: white;
  color: black;
  position: relative;
}
.clear{
  clear: both;
  height: 30px;
}
.active{
  color: black;
}
.message-time{
  font-size: 11px;
  margin-left:10px;
  float:right;
}
