*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #DBDBD4;
}
header{
  width:100vw;
  height: 40px;
  background: #009688;
  color:white;
  top: 0;
  position: sticky;
}

nav{
  width: 100%;
  height: 65px;
}


/* PARTE SINISTRA DELLA BARRA */
#profilo>img{
  height: 100%;
  border-radius: 50%;
  margin-left: 5%;
  cursor: pointer;
}
#profilo{
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  float:left;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#profilo #icons-menu{
  display: flex;
  justify-content: space-around;
  width: 35%;
  font-size: 25px;
  color: #727A7E;
  margin-right: 5%;
  cursor: pointer;
  padding-top: 20px;
}
/* PARTE DESTRA DELLA BARRA */
#friends #left-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor:pointer;
}
#friends{
  width: 70%;
  height: 100%;
  border-right: 1px solid lightgrey;
  float:right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:15px;

}
#friends>img{
  height: 90%;
  border-radius:50%;
  float:left;
}
.search-menu{
  width: 100%;
  height: 100%;
  border:5px solid #FBFBFB;
}

.left-container{
  width: 30%;
  min-height: 900px;
  background-color: white;
  float: left;
}

.left-container .contact{
  width: 100%;
  height:75px;
  border-radius: 5px;
  float:left;
  border-bottom: 1px solid lightgrey;

}
#contact-img{
  width: 20%;
  height: 100%;
  float: left;

}
#contact-img>img{
  height: 100%;
  border-radius:50%;

}

.left-container .contact .info-container{
  width: 79%;
  height: 100%;
  float: right;

}
.right-container{
  width: 70%;
  min-height: 900px;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-size: cover;
  float: left;
}
#leftinput{
  width:90%;
  height:40px;
  margin-left:-1px;
  outline: none;
  border: none;


}
.btn{
  width:10%;
  height: 40px;
  margin-right:-1px;
  background: white;
  padding-top: 0;
  outline: none;
  border: none;
}
.btn:hover{
  background-color: grey;
}


#writer{
  display: flex;
  position: fixed;
  width: 100%;
  bottom:0;
  border: 5px solid #FBFBFB;


}
#msgwriter{
  width:50%;
  padding-top: 0;
  outline: none;
  border: none;

}
.right-container .greentext{
  width:auto;
  height: auto;
  float:right;
  margin-right: 50px;
  padding-top:0;

  border:1px solid #9DE1FE;
  border-radius: 5px;
  background-color: #A4A4A4;
  color: white;
}
.right-container .whitetext{
  padding-top:0;
  width:auto;
  height: auto;
  margin-left: 50px;
  float:left;
  border:1px solid green;
  border-radius: 5px;
  background: white;
  color: black;
}
